
<html>
	<head>
		<title>three.js webgl - orbit controls</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				color: #000;
				font-family: 'Work Sans', sans-serif;
				font-size:26px;
				text-align:center;
				letter-spacing: 0.08em;
				text-transform: uppercase;

				background-color: #fff;
				margin: 0px;
				overflow: hidden;
			}
			#info {
				color: white;
				position: absolute;
				top: 30px; width: 100%;
				padding: 5px;
				box-sizing: border-box;
			}
			a {
				color: red;
			}
		</style>
	</head>

	<body>
		<div id="info">
			<p> Welcome to HEALTHBASE</p>
</div>
  <img src="/threejs/img/healthbaselogo2.png" width= "36" style="position: absolute; z-index: 13; display: block; margin-left: 910px; top: 7px;">
</div>
<p id="medhero" style="font-family: 'Work Sans',  sans-serif; font-size: 15px; text-transform: uppercase;
letter-spacing: 0.08em; position:absolute; margin-left: 950px; margin-top: 10px; color: white; z-index: 3; display: block;">healthbase</p>

		<script src="/threejs/build/three.js"></script>
		<script src="/threejs/build/OrbitControls.js"></script>
		<script src="/threejs/build/webgl.js"></script>
<script src="/threejs/build/gltfloader.js"></script>



		<script src="/threejs/projects/pineapple.js"></script>

	</body>
</html>
